{% extends "base.html" %}
{% block title %}{{ctx.title}}{% endblock title %}
{% block icon %}
{% include "whist/whist_image.html" %}
{% endblock icon %}
{% block menu %}
{% include "whist/whist_menu.html" %}
{% endblock menu %}
{% block config %}{% endblock config %}
{% block toolbar %}
{% include "whist/whist_toolbar.html" %}
{% endblock toolbar %}
{% block view %}
{% include "whist/whist_table.html" %}
{% endblock view %}
{% block application_list %}{% endblock application_list %}
{% block form %}{% endblock form %}