{% load whist_tags %}
<div class="w3-container">
    <!-- bouton ajout -->
    {% if url_add %}
    <a href="{% url url_add %}">
        <span class="w3-button w3-xlarge w3-circle w3-theme-action" title="Ajout..." 
            style="z-index: 1000; position: fixed; bottom: 20px; right: 24px">
            +
        </span>
    </a>
    {% endif %}
    <!-- Table -->
    <table class="w3-table-all w3-hoverable w3-medium w3-card-3">
        <thead>
            <tr class="w3-theme">
                {% if url_delete  and not url_folder %}
                <td>
                    {% if 0 in ctx.selected %}
                    <input class="w3-check" style="top: 0px" type="checkbox" checked="checked" onClick="window.location='{% url url_select 0 %}';"></td>
                    {% else %}
                    <input class="w3-check" style="top: 0px" type="checkbox" onClick="window.location='{% url url_select 0 %}';">
                    {% endif %}
                </td>
                {% endif %}
                {% if url_folder %}
                    <td>&nbsp;</td>
                {% endif %}
                {% if url_join %}
                    <td>&nbsp;</td>
                {% endif %}
                {% if url_order %}
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                {% endif %}
                {% for title in col_titles %}
                    {% if forloop.first %}
                        <th>{{ title }}</th>
                    {% elif title != 'id' %}
                        {% if title == 'Score' %}
                            <th>{{ title }} 
                                {% if ctx.sort == "score" %}
                                <a class="w3-button w3-padding-small" href="{% url ctx.url_sort ctx.jeu 'participant' %}">
                                    <i class="fa fa-sort-amount-desc"></i>
                                </a>
                                {% else %}
                                <a class="w3-button w3-padding-small" href="{% url ctx.url_sort ctx.jeu 'score' %}">
                                    <i class="fa fa-unsorted"></i>
                                    </a>
                                {% endif %}
                            </th>
                        {% else %}
                            <th>{{ title }}</th>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for obj in objs %}
            <tr class="">
            {% if url_delete and not url_folder %}
            <td style="width: 30px;">
                {% if obj.id in ctx.selected %}
                    <input class="w3-check" style="top: 0px" type="checkbox"
                    checked="checked"
                    onClick="window.location='{% url url_select obj.id %}';"
                    >
                {% else %}
                    <input class="w3-check" style="top: 0px" type="checkbox"
                    onClick="window.location='{% url url_select obj.id %}';"
                    >
                {% endif %}
            </td>
            {% endif %}
            {% if url_folder %}
            <td style="width: 30px;">
                {% if obj.id == ctx.folder_id %}
                    <input class="w3-radio" style="top: 0px" type="radio"
                    checked="checked"
                    onClick="window.location='{% url url_folder obj.id %}';"
                    >
                {% else %}
                    <input class="w3-radio" style="top: 0px" type="radio"
                    onClick="window.location='{% url url_folder obj.id %}';"
                    >
                {% endif %}
            </td>
            {% endif %}
            {% if url_join %}
            <td style="width: 30px;">
                {% if obj.id in ctx.joined %}
                    <input class="w3-check" style="top: 0px" type="checkbox"
                    checked="checked"
                    onClick="window.location='{% url url_join obj.id %}';"
                    >
                {% else %}
                    <input class="w3-check" style="top: 0px" type="checkbox"
                    onClick="window.location='{% url url_join obj.id %}';"
                    >
                {% endif %}
            </td>
            {% endif %}
            {% if url_order %}
            <td style="width: 30px;"><a href="{% url url_order obj.id +1 %}"><span class="fa fa-arrow-down"></span></a></td>
            <td style="width: 30px;"><a href="{% url url_order obj.id -1 %}"><span class="fa fa-arrow-up"></span></a></td>
            {% endif %}
            {% for key, value in obj.items %}
                {% if forloop.first and url_update %}
                    <td><a href="{% url url_update obj.id %}">{{ value }}</a></td>
                {% elif key != 'id' %}
                    {% if url_view == "jeu_list" and key == "pari" %}
                        <td>
                            <span>{{value}}</span>
                            <div class="w3-dropdown-hover">
                                <button class="w3-button">
                                    <i class="fa fa-ellipsis-v"></i>
                                </button>
                                <div class="w3-dropdown-content w3-bar-block w3-border">
                                    {% if obj.donneur == 1 and ctx.pli_refus != 0 %}
                                        <a href="{% url ctx.url_jeu_pari obj.id 0 %}" class="w3-bar-item w3-button">0 pli</a>
                                    {% elif obj.donneur == 0 %}
                                        <a href="{% url ctx.url_jeu_pari obj.id 0 %}" class="w3-bar-item w3-button">0 pli</a>
                                    {% endif %}
                                    {% for ijeu, icarte in ctx.cartes %}
                                        {% if ijeu <= obj.carte %}
                                            {% if obj.donneur == 1 and ctx.pli_refus != icarte %}
                                                <a href="{% url ctx.url_jeu_pari obj.id icarte %}" class="w3-bar-item w3-button">
                                                    {{ icarte }} pli{{icarte|pluralize}}</a>
                                            {% elif obj.donneur == 0 %}
                                                <a href="{% url ctx.url_jeu_pari obj.id icarte %}" class="w3-bar-item w3-button">
                                                    {{ icarte }} pli{{icarte|pluralize}}</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </td>
                    {% elif url_view == "jeu_list" and key == "real" %}
                        <td>
                            {% if value == obj.pari %}
                            <span class="w3-text-green">{{ value }}</span>
                            {% else %}
                            <span class="w3-text-red">{{ value }}</span>
                            {% endif %}
                            <div class="w3-dropdown-hover">
                                <button class="w3-button">
                                    <i class="fa fa-ellipsis-v"></i>
                                </button>
                                <div class="w3-dropdown-content w3-bar-block w3-border">
                                    <a href="{% url ctx.url_jeu_real obj.id 0 %}" class="w3-bar-item w3-button">0 pli</a>
                                    {% for ijeu, icarte in ctx.cartes %}
                                        {% if ijeu <= obj.carte %}
                                            <a href="{% url ctx.url_jeu_real obj.id icarte %}" class="w3-bar-item w3-button">
                                            {{ icarte }} pli{{icarte|pluralize}}</a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </td>
                    {% elif url_view == "jeu_list" and key == "donneur" %}
                        {% if value == 1 %}
                            <td style="width: 10px;"><span class="fa fa-hand-o-right" title="le donneur pour ce tour"></span></td>
                        {% else %}
                            <td style="width: 10px;">&nbsp;</span></td>
                        {% endif %}
                    {% elif url_view == "jeu_list" and key == "points" %}
                        {% if value > 0 %}
                        <td><span class="w3-text-green">{{ value }}</span></td>
                        {% else %}
                        <td><span class="w3-text-red">{{ value }}</span></td>
                        {% endif %}
                        {% elif url_view == "jeu_list" and key == "score" %}
                        {% if value > 0 %}
                        <td><span class="w3-text-green">{{ value }}</span></td>
                        {% else %}
                        <td><span class="w3-text-red">{{ value }}</span></td>
                        {% endif %}
                    {% elif url_view == "participant_list" and key == "donneur" %}
                        {% if value > 0 %}
                        <td>
                            <input class="w3-check" style="top: 0px" type="checkbox"
                            checked="checked"
                            onClick="window.location='{% url ctx.url_participant_update obj.id 0 %}';"
                            >
                        </td>
                        {% else %}
                        <td>
                            <input class="w3-check" style="top: 0px" type="checkbox"
                            onClick="window.location='{% url ctx.url_participant_update obj.id 1 %}';"
                            >
                        </td>
                        {% endif %}
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
