{% extends "base.html" %}
{% block menu %}
{% include "i_portail_menu.html" %}
{% endblock menu %}
{% block toolbar %}
{% include "i_portail_toolbar.html" %}
{% endblock toolbar %}
{% block application_list %}{% endblock application_list %}
{% block view %}{% endblock view %}
{% block form %}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-card mdl-shadow--6dp">
            <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                <h2 class="mdl-card__title-text">Connection</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <form method="post" id="maForm">
                    {% csrf_token %} 
                    {% if form.non_field_errors %} 
                    {% for error in form.non_field_errors %}
                        <div class="mdl-card__supporting-text mdl-color-text--red">
                            <i class="material-icons">warning</i> {{ error|escape }}
                        </div>
                    {% endfor %} 
                {% endif %} 
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="username" name="username" value="{{ username }}"/>
                        <label class="mdl-textfield__label" for="username">Pseudo</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="password" id="password" name="password" value="{{ password }}"/>
                        <label class="mdl-textfield__label" for="password">Mot de passe</label>
                    </div>
                </form>
            </div>
            <div class="mdl-card__actions mdl-card--border" style=" text-align: right;">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                onClick="window.location='/'">Annuler</a>
                <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                onclick="document.getElementById('maForm').submit();">Se connecter</button>
            </div>
        </div>
    </div>
</div>
{% endblock form %}