{% load whist_tags %}
<div class="mdl-layout__header-row">
{% if crudy.url_view and not form %} 
    <span class="mdl-layout-title">{{title}}</span>
    {% if crudy.url_join %}
    <span class="mdl-layout-title">
        &nbsp;> 
        <span class="crudy-text--selected">
            {{ crudy.joined|length }} joueur{{ crudy.joined|length|pluralize }} sélectionné{{ crudy.joined|length|pluralize}}
        </span>
    </span>
{% endif %}
    <div class="mdl-layout-spacer"></div>
    <!-- boutons d'actions -->
    <nav class="mdl-navigation">
        {% if crudy.url_actions %} 
            {% for action, title in crudy.url_actions %}
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent crudy-button-action" 
                data-url="{% url action crudy.action_param %}">{{title}}
                </button>
            {% endfor %} 
        {% endif %} 
        {% if crudy.selected and not url_folder %}
            <a class="mdl-navigation__link" href="{% url url_delete %}">
                <i class="material-icons">trash</i>
            </a>
            <span class="">
                {{ crudy.selected|length }} joueur{{ crudy.selected|length|pluralize }} sélectionné{{ crudy.selected|length|pluralize }}
            </span>
        {% endif %} 
    </nav>
{% endif %} 
</div>
<div class="mdl-snackbar mdl-js-snackbar" style="bottom: 10px">
    <div class="mdl-snackbar__text"></div>
    <button type="button" class="mdl-snackbar__action"></button>
</div>