{% load crudy_tags %}
{% load markup_tags %}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    {% if crudy.url_folder %}
                    <th>&nbsp;</th>
                    {% endif %} {% if crudy.url_join %}
                    <th>&nbsp;</th>
                    {% endif %} {% if crudy.url_order %}
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    {% endif %} 
                    {% for key, col in cols_list %}
                        {% if not col.hide %}
                            {% if cols|attr_sort:key %}
                                <th class="{{ col.td_class }}"
                                >{{ col.title }}
                                    {% if crudy.sort == "score" %}
                                    <button data-url="{% url crudy.url_sort crudy.jeu 'participant' %}"
                                        class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon crudy-button-action">
                                    <i class="material-icons">sort</i>
                                    </button>
                                    {% else %}
                                    <button data-url="{% url crudy.url_sort crudy.jeu 'score' %}"
                                        class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon crudy-button-action">
                                    <i class="material-icons">import_export</i>
                                    </button>
                                    {% endif %}
                                </th>
                            {% else %}
                                <th class="{{ col.td_class }}">{{ col.title }}{% if col.subtitle %}<br>{{col.subtitle}}{% endif%}</th>
                            {% endif %} 
                        {% endif %} 
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for obj in objs %}
                <tr class="">
                {% if crudy.url_folder %}
                <td style="width: 30px;">
                    <label class="mdl-radio mdl-js-radio" for="option_{{obj.id}}">
                        <input type="radio" class="mdl-radio__button" id="option_{{obj.id}}"
                        {% if obj.id == crudy.folder_id %}checked="checked"{% endif %}
                        onClick="window.location='{% url crudy.url_folder obj.id %}';"
                        >
                    </label>
                </td>
                {% endif %}
                {% if crudy.url_join %}
                <td style="width: 30px;">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox_{{obj.id}}">
                        <input type="checkbox" class="mdl-checkbox__input" id="checkbox_{{obj.id}}"
                        {% if obj.id in crudy.joined %}checked="checked"{% endif %}
                        onClick="window.location='{% url crudy.url_join obj.id %}';"
                        >
                    </label>
                </td>
                {% endif %}
                {% if crudy.url_order %}
                    {% if forloop.first %}
                        <td style="width: 20px;">
                            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-chip mdl-chip__text crudy-button-action"
                            data-url="{% url crudy.url_order obj.id +1 %}">
                                <i class="material-icons">arrow_downward</i>
                            </button>
                        </td>
                        <td style="width: 20px;">
                                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-chip mdl-chip__text"
                                disable="disabled">
                                    <i class="material-icons mdl-color-text--grey-400">arrow_upward</i>
                                </button>
                        </td>
                        {% elif forloop.last %}
                        <td style="width: 20px;">
                            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-chip mdl-chip__text"
                            disable="disabled">
                                <i class="material-icons mdl-color-text--grey-400">arrow_downward</i>
                            </button>
                        </td>
                        <td style="width: 20px;">
                            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-chip mdl-chip__text crudy-button-action"
                            data-url="{% url crudy.url_order obj.id -1 %}">
                                <i class="material-icons">arrow_upward</i>
                            </button>
                        </td>
                    {% else %}
                    <td style="width: 20px;">
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-chip mdl-chip__text crudy-button-action"
                        data-url="{% url crudy.url_order obj.id +1 %}">
                            <i class="material-icons">arrow_downward</i>
                        </button>
                    </td>
                    <td style="width: 20px;">
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-chip mdl-chip__text crudy-button-action"
                        data-url="{% url crudy.url_order obj.id -1 %}">
                            <i class="material-icons">arrow_upward</i>
                        </button>
                    </td>
                    {% endif %}
                {% endif %}
                {% for key, value in obj.items %}
                    {% if cols|attr_hide:key != True %}
                        {% if cols|attr_type:key == "button" %}
                            <td style="text-align: left">
                                {% if crudy.jeu > crudy.jeu_current or cols|attr_disabled:key %}
                                <button class="mdl-button mdl-chip mdl-color-text--grey-800 mdl-color--grey-200"
                                    disabled="disabled">
                                    <span class="mdl-chip__text">{{ value|default_if_none:'' }}</span>
                                </button>
                                {% elif value == "" %}
                                    &nbsp;
                                {% elif value != 0 %}
                                    <button class="mdl-button mdl-chip mdl-color-text--grey-50 mdl-color--grey-500 crudy-button-action"
                                    data-url="{% url cols|attr_url:key obj.id %}" {%if cols|attr_disabled:key%}disabled="disabled"{%endif%}>
                                    <span class="mdl-chip__text">{{ value|default_if_none:'' }}</span>
                                    </button>
                                {% else %}
                                    <button class="mdl-button mdl-chip crudy-button-action"
                                    data-url="{% url cols|attr_url:key obj.id %}" {%if cols|attr_disabled:key%}disabled="disabled"{%endif%}>
                                    <span class="mdl-chip__text">{{ value|default_if_none:'' }}</span>
                                    </button>
                                {% endif %}
                            </td>
                        {% elif cols|attr_type:key == "category" %}
                            <td style="text-align: center">
                            {% for item in value %}
                                {% if cols|attr_disabled:key %}
                                    <button class="mdl-button mdl-chip mdl-color-text--grey-800 mdl-color--grey-200"
                                        disabled="disabled">
                                        <span class="mdl-chip__text">{{ item }}</span>
                                    </button>
                                {% else %}
                                    <button class="mdl-button mdl-chip crudy-button-action" data-url="{% url cols|attr_url:key obj.id %}">
                                        <span class="mdl-chip__text">{{ item }}</span>
                                    </button>
                                {% endif %}
                            {% endfor %}
                            </td>
                        {% elif cols|attr_type:key == "check" %}
                            <td style="text-align: center">
                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" style="width: unset"
                                    for="checkbox_{{obj.id}}">
                                <input type="checkbox" class="mdl-checkbox__input crudy-button-action" id="checkbox_{{obj.id}}"
                                    {% if value %}checked="checked"{% endif %}
                                    {%if cols|attr_disabled:key%}disabled="disabled"{%endif%}
                                    data-url="{% url cols|attr_url:key obj.id value %}">
                                </label>
                            </td>
                        {% elif cols|attr_type:key == "medal" %}
                            <td style="text-align: left">
                                <button class="mdl-button mdl-chip mdl-chip--contact crudy-button-action"
                                {%if cols|attr_disabled:key%}disabled="disabled"{%endif%}
                                data-url="{% url cols|attr_url:key obj|get_col:cols.param.medal %}">
                                    {% if obj.medal == 1 %}
                                    <span class="mdl-chip__contact mdl-color--amber mdl-color-text--black">1</span>
                                    {% elif obj.medal == 2 %}
                                    <span class="mdl-chip__contact mdl-color--grey mdl-color-text--white">2</span>
                                    {% elif obj.medal == 3 %}
                                    <span class="mdl-chip__contact mdl-color--blue-grey mdl-color-text--white">3</span>
                                    {% elif obj.medal == 9 %}
                                    <span class="mdl-chip__contact mdl-color--brown mdl-color-text--white">&nbsp;</span>
                                    {% else %}
                                    <span class="mdl-chip__contact mdl-color--grey-200 mdl-color-text--white">&nbsp;</span>
                                    {% endif %}
                                    <span class="mdl-chip__text">{{ value|default_if_none:'' }}</span>
                                </button>
                            </td>
                        {% elif cols|attr_type:key == "number" %}
                            {% if value > 0 %}
                            <td style="text-align: center"><span class="mdl-color-text--green" style="width: 100%"><b>{{ value }}</b></span></td>
                            {% else %}
                            <td style="text-align: center"><span class="mdl-color-text--red" style="width: 100%"><b>{{ value }}</b></span></td>
                            {% endif %}
                        {% elif cols|attr_type:key == "numeric" %}
                            <td style="text-align: center"><span class="" style="width: 100%"><b>{{ value }}</b></span></td>
                        {% elif cols|attr_type:key == "point" %}
                            <td style="text-align: center">
                                {% if value == 99 %}
                                &nbsp;
                                {% elif value > 0 %}
                                    <button class="mdl-button mdl-chip crudy-button-action mdl-color--light-green"
                                    data-url="{% url cols|attr_url:key obj.id %}" {%if cols|attr_disabled:key%}disabled="disabled"{%endif%}>
                                        <span class="mdl-chip__text">
                                            {% for kk, valeur in cols|attr_list:key %}
                                                {% if kk == value %}{{valeur}}{% endif %}
                                            {% endfor %}
                                        </span>
                                    </button>
                                {% else %}
                                    <button class="mdl-button mdl-chip crudy-button-action mdl-color--red mdl-color-text--white"
                                    data-url="{% url cols|attr_url:key obj.id %}" {%if cols|attr_disabled:key%}disabled="disabled"{%endif%}>
                                        <span class="mdl-chip__text">
                                            {% for kk, valeur in cols|attr_list:key %}
                                                {% if kk == value %}{{valeur}}{% endif %}
                                            {% endfor %}
                                        </span>
                                    </button>
                                {% endif %}
                            </td>
                        {% elif cols|attr_type:key == "position" %}
                            {% if value == True %}
                                <td style="text-align: center" style="width: 10px;"><i class="material-icons" title="{{cols|attr_tooltip:key}}">room</i></td>
                            {% else %}
                                <td style="text-align: center; width: 10px;">&nbsp;</span></td>
                            {% endif %}
                        {% elif cols|attr_type:key == "radio" %}
                            <td style="text-align: center">
                                {% if cols|attr_disabled:key %}
                                    <button class="mdl-button mdl-chip mdl-color-text--grey-800 mdl-color--grey-200 crudy-button-action" data-url="{% url cols|attr_url:key obj.id %}"
                                        disabled="disabled">
                                        <span class="mdl-chip__text">
                                        {% for kk, valeur in cols|attr_list:key %}
                                            {% if kk == value %}{{valeur}}{% endif %}
                                        {% endfor %}
                                        </span>
                                    </button>
                                {% else %}
                                    <button class="mdl-button mdl-chip crudy-button-action" data-url="{% url cols|attr_url:key obj.id %}">
                                        <span class="mdl-chip__text">
                                        {% for kk, valeur in cols|attr_list:key %}
                                            {% if kk == value %}{{valeur}}{% endif %}
                                        {% endfor %}
                                        </span>
                                    </button>
                                {% endif %}
                            </td>
                        {% else %}
                        <td style="text-align: left">
                            <span class="mdl-typography--body-1">{{ value|default_if_none:'' }}</span>
                        </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            {% if paginator %}
            <tr>
                <td colspan="{{crudy.qcols}}" class="mdl-data-table__cell--non-numeric" style="text-align: center">
                {% for jeu in paginator.page_range %}
                    {% if jeu == objs.number %}
                        <button class="mdl-button mdl-js-button mdl-button--fab crudy-mdl-button--mini-fab mdl-button--primary crudy-button-action"
                        data-url="{% url crudy.url_view jeu %}"
                            >{% if whist_carte %} {{jeu|whist_carte:whist_carte}} {% else %} {{jeu}} {% endif %}
                        </button>
                    {% elif jeu == crudy.jeu_current %}
                        <button class="mdl-button mdl-js-button mdl-button--fab crudy-mdl-button--mini-fab mdl-color-text--grey-50 mdl-color--purple crudy-button-action"
                        data-url="{% url crudy.url_view jeu %}"
                            >{% if whist_carte %} {{jeu|whist_carte:whist_carte}} {% else %} {{jeu}} {% endif %}
                        </button>
                    {% else %}
                        <button class="mdl-button mdl-js-button mdl-button--fab crudy-mdl-button--mini-fab crudy-button-action"
                        data-url="{% url crudy.url_view jeu %}"
                            >{% if whist_carte %} {{jeu|whist_carte:whist_carte}} {% else %} {{jeu}} {% endif %}
                        </button>
                    </button>
                    {% endif %}
                {% endfor %}
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>
{% if crudy.url_next_page %}
{% for title, icon, url_page, param in crudy.application.menu %}
    {% if url_page == crudy.url_next_page %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
            <div class="mdl-navigation">
                <a class="mdl-navigation__link crudy-button-action" href="javascript:;"
                    {% if param %}data-url="{% url url_page param  %}"{%else%}data-url="{% url url_page %}"{%endif%} >
                    <b>Etape suivante:</b> <i class="material-icons" role="presentation">{{icon}}</i>{{title}}
                </a>
            </div>
        </div>
    </div>
    {% endif%}
{% endfor %}
{% endif %}
{% if crudy.help_page %}
<div class="mdl-card__supporting-text">
{% filter apply_markup:"markdown" %} 
{% include crudy.help_page %}
{% endfilter %}
</div>
{% endif %}
