{% load tarot_tags %}
{% load markup_tags %}
<!-- bouton ajout -->
{% if crudy.url_add %}
<a href="{% url crudy.url_add %}">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored crudy-btn-fixed-bottom">
        <i class="material-icons">add</i>
    </button>
</a>
{% endif %}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    {% if crudy.url_folder %}
                    <th>&nbsp;</th>
                    {% endif %} {% if crudy.url_join %}
                    <th>&nbsp;</th>
                    {% endif %} {% if crudy.url_order %}
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    {% endif %} 
                    {% for key, col in cols_list %}
                        {% if not col.hide %}
                            {% if forloop.first %}
                                <th class="{{col.td_class}}">{{ col.title }}</th>
                            {% elif key != "medal" %} 
                                {% if col.title == 'Score' %}
                                <th class="{{ col.td_class }}"
                                >{{ col.title }}
                                    {% if crudy.sort == "score" %}
                                    <button data-url="{% url crudy.url_sort crudy.jeu 'participant' %}"
                                        class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon crudy-button-action">
                                    <i class="material-icons">sort</i>
                                    </button>
                                    {% else %}
                                    <button data-url="{% url crudy.url_sort crudy.jeu 'score' %}"
                                        class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon crudy-button-action">
                                    <i class="material-icons">import_export</i>
                                    </button>
                                    {% endif %}
                                </th>
                                {% else %}
                                <th class="{{ col.td_class }}">{{ col.title }}{% if col.subtitle %}<br>{{col.subtitle}}{% endif%}</th>
                                {% endif %} 
                            {% endif %}
                        {% endif %} 
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for obj in objs %}
                <tr class="">
                {% if crudy.url_folder %}
                <td style="width: 30px;">
                    <label class="mdl-radio mdl-js-radio" for="option_{{obj.id}}">
                        <input type="radio" class="mdl-radio__button" id="option_{{obj.id}}"
                        {% if obj.id == crudy.folder_id %}checked="checked"{% endif %}
                        onClick="window.location='{% url crudy.url_folder obj.id %}';"
                        >
                    </label>
                </td>
                {% endif %}
                {% if crudy.url_join %}
                <td style="width: 30px;">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox_{{obj.id}}">
                        <input type="checkbox" class="mdl-checkbox__input" id="checkbox_{{obj.id}}"
                        {% if obj.id in crudy.joined %}checked="checked"{% endif %}
                        onClick="window.location='{% url crudy.url_join obj.id %}';"
                        >
                    </label>
                </td>
                {% endif %}
                {% if crudy.url_order %}
                    {% if forloop.first %}
                        <td style="width: 20px;">
                            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-chip mdl-chip__text crudy-button-action"
                            data-url="{% url crudy.url_order obj.id +1 %}">
                                <i class="material-icons">arrow_downward</i>
                            </button>
                        </td>
                        <td style="width: 20px;">
                                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-chip mdl-chip__text"
                                disable="disabled">
                                    <i class="material-icons mdl-color-text--grey-400">arrow_upward</i>
                                </button>
                        </td>
                        {% elif forloop.last %}
                        <td style="width: 20px;">
                            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-chip mdl-chip__text"
                            disable="disabled">
                                <i class="material-icons mdl-color-text--grey-400">arrow_downward</i>
                            </button>
                        </td>
                        <td style="width: 20px;">
                            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-chip mdl-chip__text crudy-button-action"
                            data-url="{% url crudy.url_order obj.id -1 %}">
                                <i class="material-icons">arrow_upward</i>
                            </button>
                        </td>
                    {% else %}
                    <td style="width: 20px;">
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-chip mdl-chip__text crudy-button-action"
                        data-url="{% url crudy.url_order obj.id +1 %}">
                            <i class="material-icons">arrow_downward</i>
                        </button>
                    </td>
                    <td style="width: 20px;">
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-chip mdl-chip__text crudy-button-action"
                        data-url="{% url crudy.url_order obj.id -1 %}">
                            <i class="material-icons">arrow_upward</i>
                        </button>
                    </td>
                    {% endif %}
                {% endif %}
                {% for key, value in obj.items %}
                    {% if cols|attr_hide:key != True %}
                        {% if forloop.first and crudy.url_update %}
                            <td style="text-align: left"><a href="{% url crudy.url_update obj.id %}">
                                    <span class="mdl-chip mdl-chip__text">{{ value|default_if_none:'' }}</span>
                            </a></td>
                        {% elif cols|attr_type:key == "button" %}
                            <td style="text-align: center" style="cursor: pointer">
                                {% if crudy.jeu > crudy.jeu_current %}
                                <button style="cursor: pointer" class="mdl-button mdl-js-button mdl-button--fab crudy-mdl-button--mini-fab"
                                    disabled="disabled">
                                {{ value }}
                                </button>
                                {% elif value == "" %}
                                    &nbsp;
                                {% elif value != 0 %}
                                    <button style="cursor: pointer" class="mdl-button mdl-js-button mdl-button--fab crudy-mdl-button--mini-fab mdl-color-text--grey-50 mdl-color--grey-500 crudy-button-action"
                                    data-url="{% url cols|attr_url:key obj.id %}">
                                    {{ value }}
                                    </button>
                                {% else %}
                                    <button style="cursor: pointer" class="mdl-button mdl-js-button mdl-button--fab crudy-mdl-button--mini-fab crudy-button-action"
                                    data-url="{% url cols|attr_url:key obj.id %}">
                                    {{ value }}
                                    </button>
                                {% endif %}
                            </td>
                        {% elif cols|attr_type:key == "category" %}
                            <td style="text-align: center">
                            {% for item in value %}
                                <button class="mdl-chip crudy-button-action" style="cursor: pointer" data-url="{% url cols|attr_url:key obj.id %}">
                                    <span class="mdl-chip__text">{{ item }}</span>
                                </button>
                            {% endfor %}
                            </td>
                        {% elif cols|attr_type:key == "check" %}
                            <td style="text-align: center">
                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" style="width: unset"
                                    for="checkbox_{{obj.id}}">
                                <input type="checkbox" class="mdl-checkbox__input crudy-button-action" id="checkbox_{{obj.id}}"
                                    {% if value %}checked="checked"{% endif %} 
                                    data-url="{% url cols|attr_url:key obj.id value %}">
                                </label>
                            </td>
                        {% elif cols|attr_type:key == "medal" %}
                            <td style="text-align: left">
                                <span class="mdl-chip mdl-chip--contact">
                                    {% if obj.medal == 1 %}
                                    <span class="mdl-chip__contact mdl-color--amber mdl-color-text--black">1</span>
                                    {% elif obj.medal == 2 %}
                                    <span class="mdl-chip__contact mdl-color--grey mdl-color-text--white">2</span>
                                    {% elif obj.medal == 3 %}
                                    <span class="mdl-chip__contact mdl-color--blue-grey mdl-color-text--white">3</span>
                                    {% elif obj.medal == 9 %}
                                    <span class="mdl-chip__contact mdl-color--brown mdl-color-text--white">&nbsp;</span>
                                    {% else %}
                                    <span class="mdl-chip__contact mdl-color--grey-200 mdl-color-text--white">&nbsp;</span>
                                    {% endif %}
                                    <span class="mdl-chip__text">{{ value|default_if_none:'' }}</span>
                                </span>
                            </td>
                        {% elif cols|attr_type:key == "number" %}
                            {% if value > 0 %}
                            <td style="text-align: center"><span class="mdl-color-text--green" style="width: 100%"><b>{{ value }}</b></span></td>
                            {% else %}
                            <td style="text-align: center"><span class="mdl-color-text--red" style="width: 100%"><b>{{ value }}</b></span></td>
                            {% endif %}
                        {% elif cols|attr_type:key == "position" %}
                            {% if value == True %}
                                <td style="text-align: center" style="width: 10px;"><i class="material-icons" title="{{cols|attr_tooltip:key}}">room</i></td>
                            {% else %}
                                <td style="text-align: center; width: 10px;">&nbsp;</span></td>
                            {% endif %}
                        {% elif cols|attr_type:key == "radio" %}
                            <td style="text-align: center">
                                {% if cols|attr_colored_number:key and value != "" %}
                                    {% if value > 0 %}
                                        <button class="mdl-chip crudy-button-action mdl-color--light-green" style="cursor: pointer" data-url="{% url cols|attr_url:key obj.id %}">
                                            <span class="mdl-chip__text">
                                                {% for key, valeur in cols|attr_list:key %}
                                                    {% if key == value %}<b>{{valeur}}</b>{% endif %}
                                                {% endfor %}
                                            </span>
                                        </button>
                                    {% else %}
                                        <button class="mdl-chip crudy-button-action mdl-color--red mdl-color-text--white" style="cursor: pointer" data-url="{% url cols|attr_url:key obj.id %}">
                                            <span class="mdl-chip__text">
                                                {% for key, valeur in cols|attr_list:key %}
                                                    {% if key == value %}<b>{{valeur}}</b>{% endif %}
                                                {% endfor %}
                                            </span>
                                        </button>
                                    {% endif %}
                                {% else %}
                                   {% for id, valeur in cols|attr_list:key %}
                                        {% if id == value %}
                                        <button class="mdl-chip crudy-button-action" style="cursor: pointer" data-url="{% url cols|attr_url:key obj.id %}">
                                            <span class="mdl-chip__text">{{valeur}}</span>
                                        </button>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                        {% else %}
                            <td style="text-align: left">{{ value|default_if_none:'' }}</td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            {% comment %} {% if paginator %}
            <tr>
                <td colspan="{{crudy.qcols}}" class="mdl-data-table__cell--non-numeric" style="text-align: center">
                {% for jeu, carte in crudy.cartes %}
                    {% if objs.number == jeu %}
                        <button class="mdl-button mdl-js-button mdl-button--fab crudy-mdl-button--mini-fab mdl-button--primary" 
                            >{{ carte }}
                        </button>
                    {% elif jeu < crudy.jeu_current %}
                        <button class="mdl-button mdl-js-button mdl-button--fab crudy-mdl-button--mini-fab crudy-button-action"
                        data-url="{% url crudy.url_view jeu %}"
                            >{{ carte }}
                        </button>
                    {% elif jeu == crudy.jeu_current %}
                        <button class="mdl-button mdl-js-button mdl-button--fab crudy-mdl-button--mini-fab mdl-color-text--grey-50 mdl-color--purple crudy-button-action" 
                        data-url="{% url crudy.url_view jeu %}"
                            >{{ carte }}
                        </button>
                    {% else %}
                        <button class="mdl-button mdl-js-button mdl-button--fab crudy-mdl-button--mini-fab mdl-button--colored crudy-button-action" 
                        data-url="{% url crudy.url_view jeu %}"
                        >{{ carte }}
                    </button>
                    {% endif %}
                {% endfor %}
                </td>
            </tr>
            {% endif %} {% endcomment %}
        </table>
    </div>
</div>
{% if crudy.url_view == "v_tarot_participant_list" %}
    <div class="mdl-card__supporting-text">
{% filter apply_markup:"markdown" %} 
{% include "i_tarot_participant_list.md" %}
{% endfilter %}
    </div>
</div>
{% endif %}
{% if crudy.url_view == "v_tarot_participant_select" %}
    <div class="mdl-card__supporting-text">
{% filter apply_markup:"markdown" %} 
{% include "i_tarot_participant_select.md" %}
{% endfilter %}
    </div>
</div>
{% endif %}
